@media (max-width: 1000px) {
   .anchor:hover {
      opacity: initial;
   }
}

@media (max-width: 510px) {
   .clock__wrapper {
      display: none;
   }
}

.modal {
   background-color: rgb(0 0 0);
   height: 100%;
   left: 0;
   opacity: 0;
   overflow-y: auto;
   pointer-events: none;
   position: fixed;
   top: 0;
   transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
   visibility: hidden;
   width: 100%;
   z-index: 1;
}

.open {
   opacity: 1;
   pointer-events: auto;
   visibility: visible;
}

.modal__inner {
   align-items: center;
   display: flex;
   flex-direction: column;
   gap: 5px;
   justify-content: center;
   padding: 5px;
}

.hashtags {
   align-items: center;
   background: radial-gradient(circle, rgb(238 174 202 / 19.2%) 0%, rgb(148 188 233 / 17.8%) 100%);
   border-radius: 7px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 5px;
}

.hashtags span,
a {
   color: white;
   font-family: opensans;
   font-size: 18px;
}

.hashtags span .ahk_autorun_color {
   color: rgb(251 255 0);
}

.hashtags span .ahk_run_color {
   color: rgb(30 255 0);
}

.hashtags.content__wrapper {
   background: none;
   display: none;
   margin-top: 2px;
   padding: 0;
}

.hashtags.content__wrapper.open__hashtags {
   display: flex;
}

.head {
   align-items: center;
   border-radius: 7px;
   display: flex;
   height: 50px;
   justify-content: center;
   margin-bottom: 15px;
   width: 50px;
}

.head img {
   height: auto;
   width: 100%;
}

.anchors {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   gap: 4px;
   justify-content: center;
}

.anchor {
   align-items: center;
   background: linear-gradient(90deg, #697f884b, #685f5f3f);
   border-radius: 5px;
   display: flex;
   height: 45px;
   justify-content: center;
   opacity: 0.6;
   padding: 6px;
   transition: 0.1s;
   width: 45px;
}

.anchor:hover {
   opacity: 1;
}

.anchor img {
   height: auto;
   width: 100%;
}

.content {
   align-items: center;
   align-items: stretch;
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   justify-content: center;
   margin-bottom: 5px;
}

.content:last-child {
   margin-bottom: 5px;
}

.tag {
   align-items: center;
   background: linear-gradient(90deg, #697f884b, #685f5f3f);
   border-radius: 3px;
   display: flex;
   gap: 5px;
   height: auto;
   justify-content: center;
   opacity: 1;
   padding: 5px;
   transition: 0.3s;
}

.tag span {
   align-items: center;
   display: flex;
   justify-content: center;
   max-height: 20px;
   word-break: break-all;
}

.tag:hover {
   opacity: 0.5;
}

.tag img {
   height: auto;
   width: 20px;
}

.content.tag_plus .tag img {
   height: auto;
   width: 35px;
}
