.container {
    padding: 7px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-wrap: wrap;
}

.element {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background: linear-gradient(90deg, #697f884b, #685f5f3f);
    border-radius: 7px;
    transition: 0.5s;
    opacity: 1;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }

    & svg {
        width: 100%;
        height: auto;
    }

    & img {
        width: 100%;
        height: auto;
    }

    &.folder {
        background: -webkit-linear-gradient(90deg, #354e69, #000000);
        background: linear-gradient(90deg, #354e69, #000000);
    }

    @media (max-width: 1000px) {
        &:hover {
            opacity: initial;
        }
    }
}
