.container {
   align-items: center;
   display: flex;
   flex-direction: column;
   gap: 7px;
   justify-content: center;
   min-height: 100vh;
   padding: 7px;
}

.box {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   gap: 7px;
   justify-content: center;
}

.element {
   align-items: center;
   background: linear-gradient(90deg, #697f884b, #685f5f3f);
   border-radius: 7px;
   cursor: pointer;
   display: flex;
   height: 60px;
   justify-content: center;
   opacity: 1;
   padding: 7px;
   transition: 0.5s;
   width: 60px;

   &:hover {
      opacity: 0.5;
   }

   & svg {
      height: auto;
      width: 100%;
   }

   & img {
      height: auto;
      width: 100%;
   }

   &.folder {
      background: linear-gradient(90deg, #354e69, #000);
   }

   @media (max-width: 1000px) {
      &:hover {
         opacity: initial;
      }
   }
}
